<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestBaseUri" value="http://TongJ-Web01:80/RestHostLib/Service1"/>
    <!--
          <add key="TestBaseUri" value="http://localhost:8090/RestHostLib/Service1"/>
     -->
  </appSettings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

</configuration>
